body{
    background-color: #000B3C;
    
}

h1{
    color: aliceblue;
}
h1{
    text-align: center;
}
.img-cabeçalho{
    min-height: 300px;
}
.item-cabeçalho{
    color: aliceblue;
}
.cabeçalho{
    display: flex;

}
