body{
    background-color: black;
    
}

h1{
    color: aliceblue;
}
h1{
    text-align: center;
}
.img-cabeçalho{
 
    height: 300px;
}
.item-cabeçalho{
    display: inline-block;
    color: aliceblue;
    margin: 50px;
    font-size: 30px;
    padding: 50px;

}
.cabeçalho{
    display: flex;
    justify-content: space-between;

}
p{
color: whitesmoke;
}
h2{
    color: aliceblue;
}
.imagem-principal{
    width: 400px;
}
.principal{
    display: flex;
    justify-content: center;
    
}
.div-principal{
    width: 60%;

}
.principal-titulo{
    
}

.principal-titulo{
    padding: 20px 0;
}