body{
    background-color: #000B3C;
    
}

h1{
    color: aliceblue;
}
h1{
    text-align: center;
}
.img-cabeçalho{
 
    height: 300px;
}
.item-cabeçalho{
    display: inline-block;
    color: aliceblue;
    margin: 50px;
    font-size: 30px;
    

}
.cabeçalho{
    display: flex;
    justify-content: space-between;

}
